@font-face {
  font-family: 'Pretendard';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swrap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swrap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swrap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swrap;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Pretendard', 맑음고딕, sans-serif;
  color: #101820;

  height: calc(var(--vh) * 100);
  @supports (-webkit-touch-callout: none) {
    height: -webkit-fill-available !important;
  }
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  width: 100vw;
  position: fixed;
  top: 0;
  background-color: #101820;
  z-index: 99;
}

header ul.navi {
  display: flex;
  align-items: center;
  font-family: 'gotu';
}

em {
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
}

section {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

section:not(.section02) {
  height: 100%;
}

section.section01 .desc {
  opacity: 0;
  transition: 1.5s;
  transition-delay: 0.5s;
}

section.section01.on .desc {
  opacity: 1;
}

section.section01 p:nth-of-type(2) {
  font-weight: 400;
  color: #fff;
  background-color: #101820;
}

section.section01 .waves,
.loading .waves {
  position: absolute;
  transform: translateY(-50%);
  transition: 0.5s opacity;
  opacity: 0;
}

section.section01 .waves.on,
.loading .waves {
  opacity: 1;
}

section.section01 .waves .wave,
.loading .waves .wave {
  position: absolute;
  border: 2px solid #fff;
  aspect-ratio: 1;
  border-radius: 50%;
  bottom: 0;
  right: 0;
  transform-origin: center;
  opacity: 1;
}

section.section01 .waves.on .wave,
.loading .waves .wave {
  animation-name: wave;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

section.section01 .waves .wave:nth-child(1),
.loading .waves .wave:nth-child(1) {
  animation-delay: 0s;
}

section.section01 .waves .wave:nth-child(2),
.loading .waves .wave:nth-child(2) {
  animation-delay: 0.3s;
}

section.section01 .waves .wave:nth-child(3),
.loading .waves .wave:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes wave {
  0% {
    transform: scale(1);
    border-width: 2px;
    opacity: 1;
  }

  100% {
    transform: scale(2);
    border-width: 1px;
    opacity: 0;
  }
}

section.section02 .desc {

  opacity: 0;
  transform: translateY(-200px);
  transition: 1.5s;
  transition-property: transform, opacity;
  transition-delay: 0.7s;
}

section.section02.on .desc {
  opacity: 1;
  transform: translateY(0);
}

section.section02 .desc p {
  font-weight: 300;
  color: #fff;
  line-height: 1.4;
}

section.section02 .cards {
  transition: 1.5s transform;
  transition-delay: 1s;
  transform: translateY(calc(100vh - 160px));
}

section.section02.on .cards {
  transform: translateY(0);
}

section.section02 .cardTop {
  display: flex;
  justify-content: flex-end;
}

section.section02 .cardWrap {
  display: flex;
  flex-direction: column;
}

section.section02 .card {
  border: 1px solid #fff;
  background: linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, rgba(217, 217, 217, 0.9) 70%);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  backdrop-filter: blur(5px);
  filter: brightness(1);
  transition: 0.5s filter;
}

section.section02 .card.on {
  filter: brightness(1.3);
}

section.section02 .card p {
  line-height: 1.5;
  font-weight: 400;
  color: #101820;
}

section.section02 .card em {
  display: inline-block;
  font-weight: 700;
}

section.section02 .card .imgWrap {
  position: absolute;
}

section.section02 .card .imgWrap img {
  width: 100%;
}

section.section02 .cardDesc {
  border: 1px solid #fff;
  color: #fff;
  backdrop-filter: blur(20px);
  line-height: 2;
}

section.section02 .cardDesc dl {
  display: grid;
}

section.section02 .cardDesc dt {
  text-align: right;
  position: relative;
  font-weight: 500;
}

section.section02 .cardDesc dt::after {
  content: '';
  display: block;
  width: 1px;
  background-color: #fff;
  position: absolute;
  right: 0;
}

section.section03 .prdGrid {
  opacity: 0;
  transition: 1s;
  transition-property: transform, opacity;
  transition-delay: 0.7s;
}

section.section03.on .prdGrid {
  opacity: 1;
}

section.section03 .prdDesc p {
  line-height: 1.4;
  font-weight: 300;
}

section.section03 .prdDesc em {
  display: inline-block;
}

section.section03 .btnWrap a {
  border: 1px solid #fff;
  font-weight: 300;
  width: 100%;
  position: relative;
  transition: 0.1s background-color;
}

section.section03 .btnWrap a::before {
  content: '';
  display: block;
  aspect-ratio: 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

section.section03 .btnWrap a:first-child::before {
  background-image: url("https://dhnp.speedgabia.com/images/main3_btn1.png");
}

section.section03 .btnWrap a:last-child::before {
  background-image: url("https://dhnp.speedgabia.com/images/main3_btn2.png");
}

section.section03 .btnWrap a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

section.section04 p {
  line-height: 1.4;
  font-weight: 300;
  opacity: 0;
  transition-property: transform, opacity;
}

section.section04.on p {
  opacity: 1;
  transform: translateX(0);
}

section.section04 .swiperWrap {
  opacity: 0;
  transition: 1.5s;
  transition-property: transform, opacity;
  transition-delay: 0.9s;
}

section.section04.on .swiperWrap {
  opacity: 1;
  transform: translateX(0);
}

section.section04 .swiper img {
  width: 100%;
}

section.section04 .swiperBtnWrapper {
  display: flex;
  justify-content: center;
}

section.section04 .swiperBtnWrapper span {
  background-color: #d9d9d9;
  opacity: 1;
}

section.section04 .swiperBtnWrapper span:where(:nth-child(5), :nth-child(6), :nth-child(7), :nth-child(8)) {
  display: none;
}

section.section04 .swiper .swiper-slide:not(.swiper-slide-active) img {
  filter: brightness(0.8);
}

section.section04 .swiperBtnWrapper span.swiper-pagination-bullet-active {
  background-color: #101820;
}

section.section04 .swiperArrow {
  background: url("https://dhnp.speedgabia.com/images/Arrow.png") no-repeat center/cover;
  position: absolute;
  cursor: pointer;
  z-index: 10;
}

section.section05 {
  background-color: #ebeff0;
}


section.section05 .prd img {
  width: 100%;
}

.faq {
  opacity: 0;
  transition: 1s opacity;
}

.faq dt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
}

.faq .btn {
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1px solid #000;
  position: relative;
  cursor: pointer;
}

.faq dd {
  border-bottom: 1px solid #000;
  padding-bottom: 0;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  line-height: 1.6;
}

.faq .btn::before,
.faq .btn::after {
  content: '';
  display: block;
  height: 1px;
  background-color: #000;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.faq .btn::after {
  transform: translate(-50%, -50%) rotate(90deg);
  transition: 0.5s;
}

.faq .btn.on::after {
  opacity: 0;
}

section.section05 .prdWrap {
  opacity: 0;
  transition: 1s opacity;
}

section.section05.on :where(.prdWrap, .faq) {
  opacity: 1;
}

.faq dl {
  border-top: 1px solid #000;
}

footer nav {
  background-color: #122231;
  color: #fff;
  font-weight: 300;
  position: relative;
}

footer nav a {
  width: 100%;
  display: block;
}

footer ul {
  position: absolute;
  width: 100%;
  left: 0;
  background-color: #122231;
  transition: 0.5s height;
  height: 0;
  overflow: hidden;
}

footer li {
  border-bottom: 1px solid #fff;
  position: relative;
}

footer li::after,
footer nav p::after {
  content: '';
  display: block;
  right: 0;
  cursor: pointer;
  transform: rotate(180deg);
}

footer nav p.on::after {
  transform: rotate(0);
}

footer li::after {
  transform: rotate(270deg);
}

.sectionBg {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100%;
  z-index: 0;
}

.sectionBg .bgCont {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: 0.7s background-image;
}

#fullpage {
  z-index: 1;
}

.footerWrap {
  display: contents;
}

.pad {
  display: none;
}


@media screen and (min-width: 450px) {

  .mo {
    display: none;
  }

  header {
    height: 80px;
  }

  header ul.navi {
    gap: 30px;
    font-size: 16px;
    color: #fff;
  }

  header ul.navi li {
    position: relative;
  }

  header ul.navi li::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 2px;
    height: 1px;
    width: 0;
    background-color: #fff;
    transition: 0.5s;
  }

  header ul.navi li:where(:hover, .on)::after {
    width: 100%;
  }

  .contents {
    max-width: 1440px;
    margin: auto;
    height: 100%;
  }

  section .contents {
    width: 100%;
    height: calc(100vh - 80px);
    padding: 0 40px;
    margin-top: 80px;
    position: relative;
  }

  header .contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
  }

  header .logoWrapper img {
    width: 140px;
  }

  section.section01 {
    background-image: url("https://dhnp.speedgabia.com/images/main1_off.jpg");
    background-position: left center;
    transition: 2s background-image;
  }

  section.section01.on {
    background-image: url("https://dhnp.speedgabia.com/images/main1_on.jpg");
  }

  section.section01 .contents {
    display: flex;
    align-items: flex-end;
  }

  section.section01 .desc {
    max-height: 600px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    transform: translateX(-200px);
    transition-property: transform, opacity;
  }

  section.section01.on .desc {
    transform: translateX(0);
  }

  section.section01 p:nth-of-type(1) {
    margin-top: 90px;
    font-size: 38px;
    font-weight: 300;
    color: #fff;
    line-height: 1.3;
  }

  section.section01 img {
    margin-top: 80px;
    width: 310px;
  }

  section.section01 p:nth-of-type(2) {
    font-size: 14px;
    width: fit-content;
    padding: 14px 30px;
    border-radius: 27px;
    margin-top: auto;
    margin-bottom: 40px;
  }

  section.section01 .waves {
    left: calc(75% + 120px);
    bottom: 60px;
  }

  .loading .waves {
    right: calc(50% - 45px);
    top: calc(50% + 45px);
  }

  .loading img {
    width: 40px;
  }

  section.section01 .waves .wave {
    width: 60px;
  }

  .loading .waves .wave {
    width: 90px;
  }

  section.section02 {
    background-image: url("https://dhnp.speedgabia.com/images/main2_off.png");
    background-attachment: fixed;
    transition: 2s background-image;
    transition-delay: 0.5s;
  }

  section.section02.on {
    background-image: url("https://dhnp.speedgabia.com/images/main2_on.png");
  }

  section.section02 .contents {
    min-height: 1140px;
    position: relative;
  }


  section.section02 .desc {
    position: sticky;
    top: calc(50vh - 80px);
  }

  section.section02 .desc p {
    font-size: 30px;
    width: 420px;
    max-width: calc(100% - 560px)
  }

  section.section02 .desc em {
    font-size: 40px;
    margin-bottom: 20px;
    display: inline-block;
  }

  section.section02 .cards {
    position: absolute;
    right: 40px;
    top: 60px;
  }

  section.section02 .cardWrap:nth-child(2) {
    margin-top: 127px;
  }

  section.section02 :where(.cardTop, .cardWrap) {
    gap: 20px;
  }

  section.section02 .card {
    width: 250px;
    aspect-ratio: 288/400;
    border-radius: 18px;
    padding: 20px;
  }

  section.section02 .card p {
    font-size: 22px;
  }

  section.section02 .card em {
    margin-bottom: 4px;
    font-size: 40px;
  }

  section.section02 .card .imgWrap {
    top: 4px;
    right: 4px;
    width: 80px;
  }

  section.section02 .cardDesc {
    border-radius: 18px;
    padding: 10px;
    margin-top: 40px;
    font-size: 14px;
    width: 520px;
  }

  section.section02 .cardDesc dl {
    grid-template-columns: 140px 380px;
  }

  section.section02 .cardDesc dt {
    padding-right: 20px;
  }

  section.section02 .cardDesc dt::after {
    height: 12px;
    top: 8px;
  }

  section.section02 .cardDesc dd {
    padding-left: 18px;
    font-weight: 300;
  }

  section.section03 .contents {
    overflow: hidden;
  }

  section.section03 .prdGrid {
    display: flex;
    gap: 0;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 50%;
    width: calc(100% - 80px);
    transform: translateY(calc(50% + 200px));
  }

  section.section03.on .prdGrid {
    transform: translateY(50%);
  }

  section.section03 .prdDesc {
    width: 100%;
    max-width: 510px;
    color: #fff;
  }

  section.section03 .prdDesc p {
    font-size: 30px;
  }

  section.section03 .btnWrap {
    display: flex;
    gap: 20px;
    margin-top: 30px;
  }

  section.section03 .btnWrap a {
    padding-left: 74px;
    font-size: 14px;
    line-height: 3;
  }

  section.section03 .btnWrap a::before {
    width: 20px;
    position: absolute;
    left: 12px;
    top: 12px;
  }

  section.section03 .prdDesc em {
    font-size: 40px;
    margin-bottom: 10px;
  }

  section.section03 .prdImg img {
    max-height: calc(100vh - 200px);
    max-width: calc(50vw - 60px);
  }

  section.section04 p {
    font-size: 30px;
    position: absolute;
    bottom: calc(50% - 80px);
    width: calc(100% - 700px);
    transform: translateX(-200px);
    transition: 1s;
    transition-delay: 0.5s;
  }

  section.section04 em {
    font-size: 40px;
    display: inline-block;
    margin-bottom: 20px;
  }

  section.section04 .swiperWrap {
    width: 550px;
    position: absolute;
    right: 40px;
    bottom: calc(50% - 213px);
    transform: translateX(200px);
  }



  section.section04 .swiper {
    overflow-y: visible;
  }

  section.section04 .swiperBtnWrapper {
    margin-top: 24px;
  }

  section.section04 .swiperBtnWrapper span {
    width: 10px;
    height: 10px;
    margin: 0 10px !important;
  }

  section.section04 .swiperArrow {
    width: 13px;
    height: 26px;
    top: 182px;
  }

  section.section04 .swiperArrowPrev {
    left: 100px;
  }

  section.section04 .swiperArrowNext {
    transform: rotate(180deg);
    right: 100px;
  }

  section.section05 .prdWrap {
    position: absolute;
    top: 0;
    left: 40px;
    width: calc(50% - 40px);
    height: 100%;
    transition-delay: 0.7s;
  }

  section.section05 .prd {
    position: absolute;
    bottom: calc(50% + 20px);
    transform: translate(-50%, 50%);
    left: 50%;
    width: 50vh;
    max-width: 556px;
  }

  .faq {
    width: calc(50% - 40px);
    position: absolute;
    bottom: calc(50% + 80px);
    transform: translateY(50%);
    right: 40px;
    color: #101820;
    transition-delay: 1s;
  }

  .faq h2 {
    font-size: 40px;
    font-weight: 700;
  }

  .faq h3 {
    font-size: 20px;
    margin-top: 16px;
    font-weight: 400;
  }

  .faq dl {
    margin-top: 20px;
  }

  .faq dt {
    padding: 20px 0;
    font-size: 20px;
    padding-right: 10px;
  }

  .faq dd {
    font-size: 16px;
  }

  .faq dd.on {
    padding-bottom: 20px;
  }

  .faq dd.on:first-of-type {
    height: 80px;
  }

  .faq dd.on:nth-of-type(2) {
    height: 38px;
  }

  .faq .btn {
    width: 24px;
  }

  .faq .btn::before,
  .faq .btn::after {
    width: 12px;
  }

  footer {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    background-color: rgba(16, 24, 32, 0.6);
  }

  footer .contents {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }

  footer nav {
    padding: 0 16px;
    width: 288px;
    font-size: 18px;
  }

  footer nav p,
  footer li {
    position: relative;
    padding: 16px 0;
  }

  footer ul {
    bottom: 53px;
    padding: 0 16px;
  }

  footer li::after,
  footer nav p::after {
    width: 20px;
    height: 10px;
    background: url("https://dhnp.speedgabia.com/images/footerArrow.png") no-repeat center/cover;
    position: absolute;
    top: calc(50% - 5px);
  }

  footer .contents .footerWrap>p {
    font-size: 14px;
    color: #fff;
    line-height: 18px;
    font-weight: 300;
  }

  .sectionBg .bgCont {
    height: calc(100% - 60px);
    margin-top: 60px;
    background-image: url("https://dhnp.speedgabia.com/images/main3.png");
  }

  .sectionBg.on .bgCont {
    background-image: url("https://dhnp.speedgabia.com/images/main4.png");
  }
}

@media screen and (max-width: 1050px) and (min-width: 450px) {

  section.section01 {
    background-image: url("https://dhnp.speedgabia.com/images/main1_off_p.jpg");
  }

  section.section01 .desc {
    max-height: 100%;
  }

  section.section01 p:nth-of-type(1) {
    text-align: center;
    font-size: 42px;
    margin: calc(var(--vh) * 10) 0 auto;
  }

  section.section01 .imgWrap {
    display: flex;
    justify-content: center;
  }

  section.section01 img {
    margin-top: auto;
    width: calc(var(--vh) * 40);
    max-width: 450px;
    margin-bottom: calc(var(--vh) * 10);
  }

  section.section01 p:nth-of-type(2) {
    margin-bottom: 60px;
    margin-top: 0;
  }

  section.section01 .waves {
    left: initial;
    right: 80px;
  }

  section.section01.on {
    background-image: url("https://dhnp.speedgabia.com/images/main1_on_p.jpg");
  }

  section.section02 .contents {
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 60px 40px;
  }

  section.section02 :is(.desc, .cards) {
    position: static;
    width: 100%;
    max-width: 480px;
  }

  section.section02 .desc {
    text-align: center;
  }

  section.section02 .desc p {
    width: 100%;
    max-width: none;
  }

  section.section02 :is(.cardTop, .cardDesc) {
    width: 100%;
  }

  section.section02 .card {
    width: 100%;
  }

  section.section02 .cardWrap {
    width: 100%;
  }

  section.section02 .card .imgWrap {
    width: 60px;
  }

  section.section02 .cardDesc dl {
    grid-template-columns: 80px 1fr;
  }

  section.section03 .contents {
    display: flex;
    align-items: center;
  }

  section.section03 .prdGrid {
    position: static;
    width: 100%;
    transform: none;
  }

  section.section03.on .prdGrid {
    transform: none;
  }

  section.section03 .btnWrap {
    flex-direction: column;
  }

  section.section03 .btnWrap a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-left: 0;
  }

  section.section03 .btnWrap a::before {
    position: static;
    height: 20px;
  }

  section.section05 .prdWrap {
    width: calc(100% - 587px);
    height: calc(100% - 100px);
  }

  section.section04 p {
    bottom: 50%;
    transform: translateY(-50%);
  }

  section.section04.on p {
    transform: translate(0, 50%);
  }

  section.section05 .prd {
    width: 100%;
    bottom: 50%;
  }

  .faq {
    min-width: 467px;
  }

  .pad {
    display: block;
  }

  footer {
    height: auto;
    background-color: #101820;
  }

  footer nav {
    width: 100%;
  }

  footer .contents {
    align-items: center;
    padding: 30px 50px 30px 0;
  }

  footer img:nth-of-type(1) {
    display: none;
  }

  footer .imgWrap {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  footer .footerWrap {
    display: flex;
    width: 100%;
    gap: 30px;
    flex-direction: column;
  }

  section.section03 .prdDesc {
    text-align: center;
    max-width: 510px;
  }

  section.section03.on .prdGrid {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    height: 100%;
    padding: 60px 0;
  }

  section.section03 .btnWrap {
    flex-direction: row;
  }

  section.section03 .prdImg {
    width: 60%;
    height: calc(100% - 284px);
    max-height: 551px;
    max-width: 444px;
    position: relative;
  }

  section.section03 .prdImg img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-width: none;
    max-height: none;
  }

  section.section04 .contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
  }

  section.section04 :is(p, .swiperWrap) {
    position: static;
  }

  section.section04 p {
    width: 100%;
    max-width: 600px;
    text-align: center;
  }

  section.section05 .fp-overflow>.contents {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 60px;
    min-height: calc(100vh - 160px);
    height: auto;
    padding: 60px 40px;
  }

  section.section05 .faq {
    width: 100%;
    max-width: 600px;
    height: auto;
    transform: none;
  }

  section.section05 .prdWrap {
    height: auto;
    width: 50%;
    max-width: 556px;
  }

  section.section04.on p {
    transform: translate(0, 0);
  }

  section.section05 .prd {
    transform: none;
    max-width: none;
  }

  section.section05 :is(.prdWrap, .faq, footer, .prd) {
    position: static;
  }
}

@media screen and (min-height: 800px) and (min-width: 1050px) {

  section.section01 p:nth-of-type(1) {
    margin-top: 112px;
  }

  section.section01 img {
    margin-top: 111px;
  }

  section.section01 p:nth-of-type(2) {
    padding: 20px 44px;
    margin-bottom: 60px;
  }

  section.section01 .desc {
    max-height: 80vh;
  }

  section.section01 .waves {
    bottom: 85px;
    left: calc(75% + 150px);
  }
}

@media screen and (min-width: 1440px) {

  header {
    height: 80px;
  }

  header .logoWrapper img {
    width: 184px;
  }

  header ul.navi {
    gap: 40px;
    font-size: 20px;
  }

  header .contents {
    padding: 0 85px;
  }

  section .contents {
    padding: 0 85px;
    height: calc(100vh - 80px);
    margin-top: 80px;
  }

  .sectionBg .bgCont {
    height: calc(100% - 80px);
    margin-top: 80px;
  }

  section.section01 p:nth-of-type(1) {
    font-size: 52px;
  }

  section.section01 img {
    width: 450px;
    margin-top: 111px;
  }

  section.section01 p:nth-of-type(2) {
    font-size: 16px;
  }

  .loading .waves {
    top: calc(50% + 45px);
    right: calc(50% - 45px);
  }

  section.section01 .waves .wave {
    width: 75px;
  }

  .loading .waves .wave {
    width: 90px;
  }

  section.section02 .contents {
    height: 1558px;
  }

  section.section02 .desc {
    top: calc(40vh - 80px);
  }

  section.section02 .desc p {
    font-size: 40px;
    width: 560px;
    max-width: none;
  }

  section.section02 .desc em {
    font-size: 55px;
    margin-bottom: 30px;
  }

  section.section02 .cards {
    right: 85px;
    top: 80px;
  }

  section.section02 .cardTop {
    gap: 40px;
  }

  section.section02 .cardWrap {
    gap: 40px;
  }

  section.section02 .cardWrap:nth-child(2) {
    margin-top: 254px;
  }

  section.section02 .card {
    width: 288px;
    border-radius: 24px;
    padding: 30px;
  }

  section.section02 .card em {
    margin-bottom: 16px;
    font-size: 46px;
  }

  section.section02 .card p {
    font-size: 28px;
  }

  section.section02 .card .imgWrap {
    width: 100px;
    top: 7px;
    right: 7px;
  }

  section.section02 .cardDesc {
    padding: 16px;
    margin-top: 60px;
    font-size: 16px;
    width: 615px;
  }

  section.section02 .cardDesc dl {
    grid-template-columns: 171px 444px;
  }

  section.section03 .prdGrid {
    width: calc(100% - 170px);
    gap: 40px;
  }

  section.section03 .prdDesc {
    max-width: 614px;
  }

  section.section03 .prdDesc em {
    font-size: 56px;
    margin-bottom: 30px;
  }

  section.section03 .prdDesc p {
    font-size: 40px;
  }

  section.section03 .btnWrap {
    gap: 30px;
    margin-top: 50px;
  }

  section.section03 .btnWrap a {
    font-size: 20px;
    padding-left: 80px;
  }

  section.section03 .btnWrap a::before {
    width: 30px;
    left: 20px;
    top: 15px;
  }

  section.section03 .prdImg img {
    max-height: calc(100vh - 260px);
  }

  section.section04 p {
    font-size: 40px;
    width: calc(100% - 800px);
    bottom: calc(50% - 107px);
  }

  section.section04 em {
    font-size: 56px;
    margin-bottom: 30px;
  }

  section.section04 .swiperWrap {
    width: 650px;
    right: 60px;
    bottom: calc(50% - 248px);
  }

  section.section04 .swiperArrow {
    top: 220px;
  }

  section.section05 .prdWrap {
    left: 85px;
    width: calc(50% - 85px);
  }

  .faq {
    width: calc(50% - 85px);
    right: 85px;
  }

  .faq h2 {
    font-size: 56px;
    font-weight: 700;
  }

  .faq h3 {
    font-size: 24px;
    margin-top: 40px;
    font-weight: 400;
  }

  .faq dl {
    margin-top: 50px;
  }

  .faq dt {
    padding: 40px 0;
    font-size: 24px;
  }

  .faq dd {
    font-size: 18px;
  }

  .faq dd.on {
    padding-bottom: 30px;
  }

  .faq dd.on:first-of-type {
    height: 88px;
  }

  .faq dd.on:nth-of-type(2) {
    height: 50px;
  }

  footer .contents {
    height: 100%;
    margin: 0 auto;
  }
}

:root {
  --vh: 0;
}

@media screen and (max-width: 450px) {

  .pc {
    display: none;
  }

  header {
    height: 90px;
  }

  section .contents {
    padding: 0 20px;
  }

  header ul.navi {
    justify-content: space-around;
    height: 40px;
    background-color: #122231;
  }

  header ul.navi li {
    font-size: 15px;
    color: #717a83;
    transition: 0.2s color;
  }

  header ul.navi li.on {
    color: #fff;
  }

  header .logoWrapper {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header .logoWrapper img {
    width: 110px;
  }

  section.section01 .contents {
    height: calc(100% - 90px);
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  section.section01 {
    background-image: url("https://dhnp.speedgabia.com/images/main1_off_m.jpg");
    transition: 2s background-image;
    overflow: hidden;
    height: calc(var(--vh) * 100);
  }

  section.section01.on {
    background-image: url("https://dhnp.speedgabia.com/images/main1_on_m.jpg");
  }

  section.section01 .desc {
    transition-property: opacity;
    display: contents;
  }

  section.section01 p:nth-of-type(1) {
    width: 100%;
    text-align: center;
    font-size: calc(var(--vh) * 3.5);
    line-height: 1.5;
    color: #fff;
    margin-bottom: calc(var(--vh) * 44);
  }

  section.section01 .imgWrap {
    margin: 0 auto calc(var(--vh) * 4);
    width: 32vh;
  }

  section.section01 img {
    width: 100%;
  }

  section.section01 p:nth-of-type(2) {
    width: calc(100vw - 40px);
    padding: 12px 0;
    border-radius: calc(var(--vh) * 4);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(var(--vh) * 1.5);
    line-height: 1.5;
    text-align: center;
    margin-bottom: 20px;
  }

  section.section01 .waves {
    right: calc(var(--vh) * 8);
    bottom: calc(50% - var(--vh) * 18);
  }

  .loading .waves {
    top: calc(50% + var(--vh) * 4);
    right: calc(50% - var(--vh) * 4);
  }

  .loading img {
    width: calc(var(--vh) * 3.2);
  }

  .loading .waves .wave {
    width: calc(var(--vh) * 8);
  }

  section.section01 .waves .wave {
    width: calc(var(--vh) * 6);
  }

  section.section02 {
    background-image: url("https://dhnp.speedgabia.com/images/main2_off_m.jpg");
    background-attachment: fixed;
    transition: 2s background-image;
    transition-delay: 0.5s;
  }

  section.section02.on {
    background-image: url("https://dhnp.speedgabia.com/images/main2_on_m.jpg");
  }

  section.section02 .desc p {
    font-size: calc(var(--vh) * 2.5);
    padding-top: calc(calc(var(--vh) * 6) + 90px);
    font-weight: 400;
  }

  section.section02 .desc em {
    font-size: calc(var(--vh) * 4.5);
    margin-bottom: calc(var(--vh) * 2);
    display: inline-block;
  }

  section.section02 .cards {
    margin-top: calc(var(--vh) * 12);
  }

  section.section02 :where(.card, .cardWrap) {
    width: 100%;
  }

  section.section02 .card {
    aspect-ratio: 129/184;
    border-radius: 10px;
    padding: calc(var(--vh) * 1.4);
  }

  section.section02 .card p {
    font-size: 4.6vw;
    line-height: 1.6;
  }

  section.section02 .card em {
    font-size: calc(var(--vh) * 3.5);
    margin-bottom: calc(var(--vh) * 0.3);
  }

  section.section02 .card .imgWrap {
    top: calc(var(--vh) * 0.6);
    right: calc(var(--vh) * 0.6);
    width: 16vw;
  }

  section.section02 .cardWrap:nth-child(2) {
    margin-top: calc(var(--vh) * 14);
  }

  section.section02 .cardDesc {
    border-radius: 10px;
    padding: 18px 18px 18px 0;
    margin-top: 60px;
    font-size: calc(var(--vh) * 1.8);
  }

  section.section02 :where(.cardTop, .cardWrap) {
    gap: 6vw;
  }

  section.section02 .cardDesc dl {
    grid-template-columns: 80px calc(100% - 80px);
  }

  section.section02 .cardDesc dt {
    padding-right: 10px;
  }

  section.section02 .cardDesc dt::after {
    height: 1.5vh;
    top: calc(calc(var(--vh) * 0.75) + 4px);
  }

  section.section02 .cardDesc dd {
    padding-left: 10px;
  }

  section.section02 .contents {
    padding-bottom: 60px;
  }

  section.section03 .contents {
    height: calc(100% - 90px);
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  section.section03 .prdGrid {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transform: translateX(-200px);
  }

  section.section03.on .prdGrid {
    transform: translateX(0);
  }

  section.section03 .prdDesc {
    color: #fff;
  }

  section.section03 .prdDesc p {
    font-size: calc(var(--vh) * 2.5);
    font-weight: 400;
  }

  section.section03 .prdDesc em {
    font-size: calc(var(--vh) * 4.5);
    margin-bottom: calc(var(--vh) * 2);
  }

  section.section03 .btnWrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: calc(var(--vh) * 4);
  }

  section.section03 .btnWrap a {
    font-size: calc(var(--vh) * 2.2);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(var(--vh) * 2);
    line-height: calc(var(--vh) * 2.5 + 20px);
    font-weight: 400;
  }

  section.section03 .btnWrap a::before {
    width: 2.5vh;
  }

  section.section03 .prdImg {
    margin: auto;
    height: calc(var(--vh) * 36);
    margin-top: calc(var(--vh) * 4);
    margin-bottom: 0;
  }

  section.section03 .prdImg img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  section.section04 .contents {
    height: calc(100% - 90px);
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  section.section04 p {
    font-size: 2.5vh;
    transform: translateX(200px);
    transition: 1.5s;
    transition-delay: 0.9s;
    font-weight: 400;
  }

  section.section04 em {
    font-size: calc(var(--vh) * 4.5);
    display: inline-block;
    margin-bottom: calc(var(--vh) * 2);
  }

  section.section04 .swiperWrap {
    width: calc(85% - 80px);
    margin: calc(var(--vh) * 6) auto 0;
    position: relative;
    transform: translateX(200px);
  }

  section.section04 .swiperBtnWrapper {
    margin-top: calc(var(--vh) * 3);
  }

  section.section04 .swiperBtnWrapper span {
    width: calc(var(--vh) * 1.4);
    height: calc(var(--vh) * 1.4);
    margin: 0 1vh !important;
  }

  section.section04 .swiperArrow {
    width: 3.5vw;
    aspect-ratio: 1/2;
    filter: brightness(0);
    top: calc(43% - 1.75vw);
  }

  section.section04 .swiperArrowPrev {
    left: calc(-3.5vw - 10px);
  }

  section.section04 .swiperArrowNext {
    transform: rotate(180deg);
    right: calc(-3.5vw - 10px);
  }

  section.section05 {
    height: auto;
  }

  section.section05 .contents {
    display: flex;
    flex-direction: column-reverse;
  }

  section.section05 .prd {
    width: calc(100% - 40px);
    margin: auto;
    margin-top: calc(var(--vh) * 14);
  }

  section.section05 .prdWrap {
    transition-delay: 1s;
  }

  .faq {
    margin-top: calc(var(--vh) * 8 + 90px);
    transition-delay: 0.7s;
  }

  .faq h2 {
    font-size: calc(var(--vh) * 6);
    margin-bottom: calc(var(--vh) * 3);
  }

  .faq h3 {
    font-size: calc(var(--vh) * 2.3);
    font-weight: 400;
  }

  .faq dl {
    margin-top: calc(var(--vh) * 3);
    line-height: 1.5;
  }

  .faq dt {
    padding: calc(var(--vh) * 2) 0;
    font-size: calc(var(--vh) * 2.3);
  }

  .faq dd {
    font-size: calc(var(--vh) * 2);
  }

  .faq dd.on:first-of-type {
    height: calc(var(--vh) * 15);
    padding-bottom: calc(var(--vh) * 2);
  }

  .faq dd.on:nth-of-type(2) {
    height: calc(var(--vh) * 6);
    padding-bottom: calc(var(--vh) * 2);
  }

  .faq .btn {
    width: calc(var(--vh) * 2);
  }

  .faq .btn::before,
  .faq .btn::after {
    width: var(--vh);
  }

  footer {
    background-color: #101820;
    padding: 20px 20px 40px;
    color: #fff;
    margin-top: 2rem;
  }

  footer img {
    width: 130px;
  }

  footer nav {
    padding: 0 8px;
    font-size: 16px;
    margin: 20px 0;
  }

  footer nav p,
  footer li {
    position: relative;
    padding: 10px 0;
  }

  footer ul {
    bottom: 39px;
    padding: 0 8px;
  }

  footer li::after,
  footer nav p::after {
    background: url("https://dhnp.speedgabia.com/images/footerArrow.png") no-repeat center/cover;
    position: absolute;
    width: 16px;
    height: 8px;
    top: calc(50% - 4px);
  }

  section.section05 footer .contents {
    padding: 0;
    display: block;
  }

  footer .contents .footerWrap>p {
    font-size: calc(var(--vh) * 1.7);
    line-height: 1.5;
    font-weight: 300;
  }

  .sectionBg .bgCont {
    height: 100%;
    background-image: url("https://dhnp.speedgabia.com/images/main3_m.png");
  }

  .sectionBg.on .bgCont {
    background-image: url("https://dhnp.speedgabia.com/images/main4_m.png");
  }

}

#fullpage .fp-overflow {
  max-height: calc(var(--vh) * 100);
}

.fp-overflow::-webkit-scrollbar {
  display: none;
}

.fp-watermark {
  opacity: 0;
}

.swiper-cube .swiper-slide {
  transform-origin: 0 0 !important;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(var(--vh) * 100);
  z-index: 999;
  background-color: #03051a;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: 0.5s;
  transition-delay: 0.3s;
}

.loading.off {
  opacity: 0;
}